*, html, body {
    font-family: 'Open Sans Condensed', sans-serif;
}
html, body {
    padding: 0;
    margin: 0;
}
body {
    background-color: #483e3e;
}
.conteiner {
    position: relative;
    margin: 0 auto;
    width: 1824px;
}
.one-map {
    margin: 0 3px 3px 0;
    position: relative;
    /*display: inline-block;*/
}
    .one-map img {
        margin-bottom: 3px;
    }
.date-hint {
    position: absolute;
    padding: 3px 10px 4px;
    background: url(../img/app/bg/bg-grey.png) repeat 0 0 transparent;
    color: #fff;
    right: 1px;
    bottom: 1px;
    border-radius: 2px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0 0 10px;
    text-align: center;
    z-index: 10;
    background: url(../img/app/bg/bg-grey.png) repeat 0 0 transparent;
}
    .header h1 {
        font-size: 17px;
        color: #f9f9f9;
    }
.header-placeholder {
    position: relative;
    width: 100%;
    height: 60px;
}

    .copyright {
        position: absolute;
        right: 10px;
        top: 15px;
        color: #e9e9e9;
        font-size: 10px;
        font-family: Verdana, 'lucida console', sans-serif;
    }
        .copyright a {
            color: #e9e9e9;
            font-family: Verdana, 'lucida console', sans-serif;
        }
            .copyright a:hover {
                color: #e9e9e9;
                text-decoration: underline;
            }

/* Calendar */
.calendar-icon {
    float: left;
    margin: -5px 8px 0 0;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
}
    .calendar-icon:hover {
        background-color: #3e3e3e;
    }
        .calendar-icon:hover i {
            color: #fff;
        }
.uk-dropdown.uk-datepicker * {
    font-family: Arial, sans-serif;
}

/* 5-ть фото */
@media (max-width: 1825px ) {
    .conteiner {
        width: 1520px;
    }
}
/* 4-ть фото */
@media (max-width: 1520px ) {
    .conteiner {
        width: 1216px;
    }
}
/* 3-ть фото */
@media (max-width: 1216px ) {
    .conteiner {
        width: 912px;
    }
}
/* 2-ть фото */
@media (max-width: 912px ) {
    .conteiner {
        width: 608px;
    }
}
/* 2-ть фото */
@media (max-width: 608px ) {
    .conteiner {
        width: 304px;
    }
}